@page "/"

<h1>Hello, world!</h1>

    Welcome to your new app.
<button @onclick="Log"></button>

@code
{
    [Parameter]
    public int TestNumber { get; set; }
    private void Log()
    {
        Console.WriteLine("test");
        var type = GetType();
        var baseType = type.BaseType;

        Console.WriteLine(type);
    }
}