@using TriHalo.Common.Tsurugi
@code
{ 
    [Parameter]
    private Book Book { get; set; }
}

<h2>Title</h2>
<TextEditor Text="@Book.Title"/>

<h2>Reference</h2>
<input type="text" @bind="@Book.ReferenceURL"/>

@foreach(var chapter in Book.Chapters)
{
}