@using TriHalo.Common.Tsurugi
@code
{
    [Parameter]
    public Chapter Chapter { get; set; }
}

<h2>Title</h2>
<TextEditor Text="@Chapter.Title"/>

<h2>Reference</h2>
<input type="text" @bind="Chapter.ReferenceURL"/>

@foreach(var sentence in Chapter.Sentences)
{
}
